:root {
  --dark-cyan                  : hsl(185, 75%, 39%);
  --very-dark-desaturated-blue : hsl(229, 23%, 23%);
  --dark-grayish-blue          : hsl(227, 10%, 46%);
  --dark-gray                  : hsl(0, 0%, 59%);
}

body {
  font-size: 18px; /* name and stats*/
  font-family: "Kumbh Sans", sans-serif; /* weight: 400, 700*/
  background-color: var(--dark-cyan);
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 50vh right 50vw, top 60vh left 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 50px var(--dark-grayish-blue);
  border-radius: 10px;
} 
