:root {
  --dark-cyan                  : hsl(185, 75%, 39%);
  --very-dark-desaturated-blue : hsl(229, 23%, 23%);
  --dark-grayish-blue          : hsl(227, 10%, 46%);
  --dark-gray                  : hsl(0, 0%, 59%);
}

body {
  font-size: 18px; /* name and stats*/
  font-family: "Kumbh Sans", sans-serif; /* weight: 400, 700*/
  background-color: var(--very-dark-desaturated-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  background-color: white;
}
